<p>
  <b>Nome:</b>
  <%=h @comunidade.nome %>
</p>

<p>
  <b>Perfil:</b>
  <%=h @comunidade.perfil_id %>
</p>


<%= link_to 'Edit', edit_comunidade_path(@comunidade) %> |
<%= link_to 'Back', comunidades_path %>